.Sicons{
    height: 36%;
    display: flex;flex-direction: column;
    justify-content: space-between;
    left: 40px;
    position: absolute;
    bottom: 48vh;
    
    
    a{
        padding: 3px; 
        opacity: 0.7;
        font-size: 0.6cm;
        border-radius: 50%;
        width:38px;

        &:hover{
        opacity: 1;
        background: #000000;
        color:#00FFFF;
        
        }
    }
}
