.images{
	column-count: 3;
	max-width:1200px;
	margin: 0 auto;
	background: transparent;
	padding: 30px;
	column-gap: 20px;
}
.images img {
	width:100%;
	height: auto;
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	opacity: 0.4;
}

.images img:hover {
	opacity: 1;
}

@media screen and (max-width:1024px)
{
	.images{
		column-count:3;
	}
}

@media screen and (max-width:640px)
{
	.images{
		column-count:2;
	}
}
@media screen and (max-width:375px)
{
	.images{
		column-count:1;
	}
}
