.skills{
  width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column;
}

.back_button{
width: 40px;
  height: 40px;
  border-radius: 100px;
  border-color: #FFF;
  cursor: pointer;
  background: transparent;
  position: absolute;
  color: aliceblue;
  font-size: 15px;
  top: 0;
  margin: 30px;
}

.back_button:hover {
  box-shadow: 0 0 10px #000000;
}

.skills_title{
  z-index: 999;
    position: fixed;
    top: -20px;
    font-size: xx-large;
    left: 47%;
    display: flex;
    justify-content: center;
}
.qua_title {
  z-index: 999;
  position: fixed;
  bottom: 38vh;
  font-size: xx-large;
  left: 43%;
  display:flex;
  justify-content: center;
}
.tech{
  width: 90vw;
  height: 50vh;
  margin-top: 20px;
  display: flex;align-items: center;justify-content: center;
  flex-wrap: wrap;
}
.tech-icons {
  width: 11%;height: 22%;
    font-size: 4.5em ;
    margin: 12px ;
    padding: 10px ;
    opacity: 0.93 ;
    border: 1.7px solid rgba(200, 137, 230, 0.637) ;
    text-align: center ;
    border-radius: 5px ;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) ;
    overflow: hidden ;
    transition: all 0.4s ease 0s ;
    color:#1fcecb;
    
  }
.data {
  width: 250px;
	height: 90px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
  margin:0%;
  
}
.data:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
	filter: blur(10px);
	margin: -20px;
}
.data p{
  margin:0%;
}
.data h3{
  color:black;
  margin:0%;
}

  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px ;
    }
  }
  .tech-icons:hover {
    transform: scale(1.05) ;
    overflow: hidden ;
    border: 2.2px solid rgba(197, 115, 230, 0.883) ;
    color: white;
  }
  .tech-icon-images {
    padding: 20px ;
    line-height: 1.6 ;
  }

  .qualifications{
    width: 70%;
    height: 100%;
  }

  .qua{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    text-align: center;
    top: 6vh;
    grid-row-gap: 50px;
    margin-left: 40px;
    column-gap: 20px;
  }
@media screen and (max-height:600px) {
  .qua {
    top: 3vh;
    grid-row-gap: 55px;
    margin-left: 30px;
  }
}
    .qua :nth-child(1) {
      grid-area: 1/1 / span 1 / span 1;
    }
  
    .qua :nth-child(2) {
      grid-area: 2/2 / span 1 / span 1;
    }
  
    .qua :nth-child(3) {
      grid-area: 1/3 / span 1 / span 1;
    }
    

.outer{
  display: flex;
    align-items: center;
    justify-content: center;
    height: 47%;width: 70%;
    position: fixed;
    flex-direction: column;
}
.liner{
  height: 3px;
  width: 65.9%;
  background-color:#1fcecb;
}

.rounds{
  width: 69%;
  display: flex;align-items: center;justify-content: space-between;
  position: absolute;
  overflow: hidden;
 
}

.round2{
  font-size: large;
margin-bottom: 19px;
background-color:cadetblue;
border-radius: 50%;
}
.round1{
margin-top: 21.6px;
background-color:cadetblue;
border-radius: 50%;
}

.data_items{
  display: flex;align-items: center;justify-content: space-evenly;
}

h2{
  padding: 0;margin: 0;
}


@media only screen and (max-width : 760px) {
  
  .back_button {
    margin: 8px;
    z-index: 99999;
  }
  .skills_title {
      left: 0;right: 0;
    }
  
    .qua_title {
      position: relative;
      left: 0;right: 0;top: 0;bottom: 0;
      margin-top: 25px;

    }

  .tech {
      width: 90vw;
      height: 30vh;
    }

  .data {
    height: 93px;width: 220px;
  }

  .qualifications {
      width: 60%;
      height: 60%;
    }

    .outer{
      display: none;
    }

  .qua {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      position: relative;
      text-align: center;
      margin: 0;
      row-gap: 30px;
      column-gap: 0;
      margin-bottom: 30px;
      top: 0;
    }


        .qua :nth-child(1) {
          grid-area: 1/1 / span 1 / span 1;
        }
    
        .qua :nth-child(2) {
          grid-area: 2/1 / span 1 / span 1;
        }
    
        .qua :nth-child(3) {
          grid-area: 3/1 / span 1 / span 1;
        }

}
